/bin/*
/conf/*
docs/*
eclipse/*
forge/*
jars/*
lib/*
logs/*
modsrc/*
reobf/*
runtime/*
temp/*

src/minecraft_server/*
src/common/*

!src/minecraft/

src/minecraft/*
!src/minecraft/mcmod.info
!src/minecraft/SP.png

!src/minecraft/com/

src/minecraft/com/*
!src/minecraft/com/sperlazzasaurus/


*.bat
*.sh
.gitignore~
